<input #updates type="text">

<button (click)="update(updates.value)">
  Update {{where}}
</button>

<table>
  <thead>
    <tr>
      <th>
        Viewer
      </th>
      <th>
        View
      </th>
      <th>
        Graph
      </th>
      <th>
        Summary
      </th>
      <th>
        Records
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{configs[0].viewer}}
      </td>
      <td>
        {{configs[0].view}}
      </td>
      <td>
        {{configs[0].graph}}
      </td>
      <td>
        {{configs[0].summary}}
      </td>
      <td>
        {{configs[0].records}}
      </td>
    </tr>
  </tbody>
</table>
